vti_encoding:SR|utf8-nl
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timelastmodified:TR|03 Mar 2015 07:27:01 -0000
vti_timecreated:TR|23 Jan 2015 01:55:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|03 Mar 2015 07:11:14 -0000
vti_backlinkinfo:VX|week07/styles/styles.css
vti_cacheddtm:TX|03 Mar 2015 07:27:01 -0000
vti_filesize:IR|869
