vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Mar 2015 03:26:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timecreated:TR|21 Jan 2015 03:07:08 -0000
vti_nexttolasttimemodified:TW|03 Mar 2015 03:23:34 -0000
vti_backlinkinfo:VX|week07/styles/styles.css
vti_cacheddtm:TX|03 Mar 2015 03:26:38 -0000
vti_filesize:IR|3413
