vti_encoding:SR|utf8-nl
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timelastmodified:TR|12 Feb 2015 03:04:00 -0000
vti_timecreated:TR|23 Jan 2015 01:55:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TR|12 Feb 2015 03:03:47 -0000
vti_backlinkinfo:VX|week04/styles/styles.css
vti_cacheddtm:TX|12 Feb 2015 03:03:46 -0000
vti_filesize:IR|809
