vti_encoding:SR|utf8-nl
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timelastmodified:TR|12 Feb 2015 03:04:00 -0000
vti_timecreated:TR|04 Feb 2015 22:50:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TR|12 Feb 2015 03:03:46 -0000
vti_backlinkinfo:VX|week04/index.html
vti_cacheddtm:TX|12 Feb 2015 03:03:46 -0000
vti_filesize:IR|132
vti_cachedlinkinfo:VX|Q|main_layout.css Q|main-menu.css Q|listings.css
vti_cachedsvcrellinks:VX|FQUS|week04/styles/main_layout.css FQUS|week04/styles/main-menu.css FQUS|week04/styles/listings.css
