vti_encoding:SR|utf8-nl
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timelastmodified:TR|05 Feb 2015 21:52:18 -0000
vti_timecreated:TR|05 Feb 2015 21:26:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|week03/index.html
vti_nexttolasttimemodified:TW|05 Feb 2015 21:51:07 -0000
vti_cacheddtm:TX|05 Feb 2015 21:52:18 -0000
vti_filesize:IR|164
