vti_encoding:SR|utf8-nl
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timelastmodified:TR|05 Feb 2015 18:39:52 -0000
vti_timecreated:TR|04 Feb 2015 22:50:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|05 Feb 2015 17:59:23 -0000
vti_backlinkinfo:VX|week03/index.html
vti_cacheddtm:TX|05 Feb 2015 18:39:52 -0000
vti_filesize:IR|150
vti_cachedlinkinfo:VX|Q|secondmain_layout.css Q|secondmain-menu.css Q|secondlistings.css
vti_cachedsvcrellinks:VX|FQUS|week03/styles/secondmain_layout.css FQUS|week03/styles/secondmain-menu.css FQUS|week03/styles/secondlistings.css
